{% extends 'base.html' %}
{% block title %}About Us{% endblock title %}
{% block aboutactive %}active{% endblock aboutactive %}
{% block body %}
<div class="container">
<h1 class="py-3"><u>About Us</u></h1>
<p class="my-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime ullam dicta laboriosam cupiditate ducimus commodi, esse consequuntur officia magni veniam, iusto, rerum harum? Aliquam totam alias eveniet in voluptates debitis at accusantium quisquam beatae rem numquam ut possimus deleniti distinctio quas eum praesentium, animi, voluptatem quasi illum. Dignissimos voluptatum eum hic rem, illo tenetur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, ab, reiciendis asperiores sunt iure animi voluptatem nobis esse suscipit blanditiis cumque quisquam praesentium necessitatibus, maiores consequuntur amet ex consectetur nam eos veniam neque! Minus illum, impedit reiciendis voluptas autem consequuntur animi facere alias fugiat repellendus necessitatibus, possimus, voluptate expedita deleniti eligendi. Magni, illum sint.</p>
</div>
{% endblock body %}